<div class="tabs is-toggle">
  <ul>
    <li (click)="setGraphType('line')">
      <a>
        <span class="icon is-small"
          ><i class="fa fa-line-chart" aria-hidden="true"></i
        ></span>
        <span>Line</span>
      </a>
    </li>
    <li (click)="setGraphType('bar')">
      <a>
        <span class="icon is-small"
          ><i class="fa fa-bar-chart" aria-hidden="true"></i
        ></span>
        <span>Bar</span>
      </a>
    </li>
    <li (click)="setGraphType('radar')">
      <a>
        <span class="icon is-small"
          ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
        ></span>
        <span>Radar</span>
      </a>
    </li>
    <li (click)="setGraphType('doughnut')">
      <a>
        <span class="icon is-small"
          ><i class="fa fa-circle-o" aria-hidden="true"></i
        ></span>
        <span>Doughnut</span>
      </a>
    </li>
    <li (click)="setGraphType('pie')">
      <a>
        <span class="icon is-small"
          ><i class="fa fa-pie-chart" aria-hidden="true"></i
        ></span>
        <span>Pie</span>
      </a>
    </li>
    <li (click)="setGraphType('polarArea')">
      <a>
        <span class="icon is-small"
          ><i class="fa fa-object-ungroup" aria-hidden="true"></i
        ></span>
        <span>Polar Area</span>
      </a>
    </li>
  </ul>
</div>
