.colorpickerbutton {
  position: relative;
  padding: 0px;
}

.colorpicker {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  margin: 10px;
}
.colorpickerbrush {
  margin: 10px;
}
