<div>
  <form [formGroup]="dataForm">
    <div class="field">
      <label class="label">Label</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Enter Label"
          formControlName="label"
        />
      </div>
    </div>
    <div formArrayName="dataFields">
      <div *ngFor="let field of fields; let i = index" [formGroupName]="i">
        <div class="field has-addons" style="margin-bottom: 4px">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Label"
              formControlName="label"
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="number"
              placeholder="Value"
              formControlName="value"
            />
          </div>
          <p class="control">
            <a class="button is-primary" (click)="deleteField(i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
      <button class="button" (click)="addDataField()">+</button>
    </div>
  </form>
</div>

<div class="buttons is-vcentered">
  <button class="button is-success" (click)="setGraphType('line')">Line</button>
  <button class="button is-success" (click)="setGraphType('bar')">Bar</button>
  <button class="button is-success" (click)="setGraphType('radar')">
    Radar
  </button>
  <button class="button is-success" (click)="setGraphType('doughnut')">
    Doughnut
  </button>
  <button class="button is-success" (click)="setGraphType('pie')">Pie</button>
  <button class="button is-success" (click)="setGraphType('polarArea')">
    Polar Area
  </button>
</div>
