<div *ngIf="notifyUser" class="notification is-danger">
  <button class="delete" (click)="notifyUser = false"></button>
  {{ errorMessage }}
</div>
<div class="dataform">
  <form [formGroup]="dataForm">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Enter Title"
          formControlName="title"
        />
      </div>
    </div>
    <div class="columns">
      <label for="fieldsList" class="column label"></label>
      <div class="column is-narrow">
        <button class="button is-primary" (click)="addDataField()">
          Add Field
        </button>
      </div>
    </div>
    <div formArrayName="dataFields" id="fieldsList" class="fields">
      <div *ngFor="let field of fields; let i = index" [formGroupName]="i">
        <div class="field has-addons" style="margin-bottom: 4px">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Label"
              formControlName="label"
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="number"
              placeholder="Value"
              formControlName="value"
            />
          </div>
          <div
            class="is-narrow control colorpickerbutton"
            [style.background]="fields[i].value.color"
          >
            <div>
              <span
                class="colorpickerbrush"
                [style.color]="
                  fields[i].value.color == '#ffffff' ? '#000000' : '#ffffff'
                "
                ><i class="fa fa-paint-brush"></i
              ></span>
              <input
                type="color"
                class="colorpicker"
                formControlName="color"
                width="0px"
              />
            </div>
          </div>

          <p class="control">
            <button
              class="button is-primary"
              [disabled]="fields.length == 1"
              (click)="deleteField(i)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="dataForm.valid" class="is-hidden">
  <app-graphcontrols></app-graphcontrols>
</div>
