<div class="dataform">
  <form [formGroup]="dataForm">
    <div class="field">
      <label class="label">Label</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Enter Label"
          formControlName="label"
        />
      </div>
    </div>
    <div class="columns">
      <label for="fieldsList" class="column label"></label>
      <div class="column is-narrow">
        <button class="button is-primary" (click)="addDataField()">
          Add Field
        </button>
      </div>
    </div>
    <div formArrayName="dataFields" id="fieldsList" class="fields">
      <div *ngFor="let field of fields; let i = index" [formGroupName]="i">
        <div class="field has-addons" style="margin-bottom: 4px">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Label"
              formControlName="label"
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="number"
              placeholder="Value"
              formControlName="value"
            />
          </div>
          <button
            class="button is-narrow control colorpickerbutton"
            [style.background]="fields[i].value.color"
          >
            <div>
              <span class="colorpickerbrush"
                ><i class="fa fa-paint-brush"></i
              ></span>
              <input
                type="color"
                class="colorpicker"
                formControlName="color"
                width="0px"
              />
            </div>
          </button>

          <p class="control">
            <a class="button is-primary" (click)="deleteField(i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

<app-graphcontrols (drawGraph)="setGraphType($event)"></app-graphcontrols>
