.section {
  padding: 0.7rem 1rem;
}

.appBodyGraph {
  padding-top: 5rem;
}
.appBodyData {
  padding-top: 5rem;
  height: 100vh;
  overflow-y: scroll;
}
.tabs {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px !important;
}
/* Track */
.dataSide ::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.dataSide::-webkit-scrollbar-thumb {
  background: #dddcdc;
}

/* Handle on hover */
.dataSide::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}

@media (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
  .appBodyData {
    padding-top: 0rem;
    height: 100%;
    overflow-y: unset;
  }
}
