.container {
  margin: 24px;
  padding-right: 0px;
}

.dataSide {
  height: 80vh;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px !important;
}
/* Track */
.dataSide ::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.dataSide::-webkit-scrollbar-thumb {
  background: #dddcdc;
}

/* Handle on hover */
.dataSide::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}
