.inputDiv {
  width: 100%;
  margin-bottom: 20px;
}
.inputDiv input {
  margin: 4px 0px;
}
#customFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customDivider {
  margin: 5px;
  color: gray;
}
