<p class="has-text-weight-semi-bold is-size-5 mb-3 has-text-grey">
  Preferences
</p>
<hr class="customDivider" />
<form (ngSubmit)="onConfigSave()" [formGroup]="configForm">
  <label class="is-size-6 has-text-weight-bold" for="sliderWithValue"
    >Opacity</label
  >
  <div class="inputDiv">
    <input
      id="opacitySlider"
      class="slider has-output"
      min="0"
      max="100"
      formControlName="opacity"
      step="1"
      type="range"
    />
    <output for="opacitySlider"
      ><p>{{ configForm.get("opacity").value }}</p></output
    >
  </div>
  <label class="is-size-6 has-text-weight-bold" for="sliderWithValue"
    >Border Width</label
  >
  <div class="inputDiv">
    <input
      id="borderSlider"
      class="slider has-output"
      min="0"
      max="100"
      formControlName="borderWidth"
      step="1"
      type="range"
    />
    <output for="borderSlider"
      ><p>{{ configForm.get("borderWidth").value }}</p></output
    >
  </div>
  <hr class="customDivider" />
  <div id="customFlex" class="inputDiv mt-4">
    <label class="is-size-6 has-text-weight-bold" for="colorButton"
      >Custom Color</label
    >
    <div
      id="colorButton"
      class="button is-rounded is-small"
      [style.background]="configForm.get('customColor').value"
    >
      <div>
        <span
          class="colorpickerbrush"
          [style.color]="
            configForm.get('customColor').value == '#ffffff'
              ? '#000'
              : '#ffffff'
          "
          ><i class="fa fa-paint-brush"></i
        ></span>
        <input
          type="color"
          class="colorpicker"
          formControlName="customColor"
          width="0px"
        />
      </div>
    </div>
  </div>
  <div style="width: 100%; text-align: left">
    <button type="submit" class="button is-primary is-fullwidth">
      Save Preferences
    </button>
  </div>
</form>
