<div
  (click)="onZoom()"
  [ngClass]="{
    graph: !placeholder,
    placeholderContainer: placeholder,
    zoomedGraph: zoom
  }"
  #graphContainer
>
  <div [style.display]="placeholder ? 'none' : 'block'">
    <canvas id="myChart" (contextmenu)="onRightClick($event)" #graph>
      {{ chart }}</canvas
    >
  </div>

  <div *ngIf="placeholder" class="graphPlaceholder">
    <div style="text-align: center">
      <h1 class="is-size-2-desktop is-size-7-mobile has-text-weight-bold">
        YOUR CHART WILL BE SHOWN HERE
      </h1>
      <p class="is-size-7-mobile" style="text-align: left">
        Start adding some data to generate chart.
      </p>

      <p class="landscape is-size-7" style="text-align: left">
        View and download chart in landscape mode for more clearity.
      </p>
      <p class="landscape is-size-7" style="text-align: left">
        Triple-click chart to zoom in or out.
      </p>
    </div>
  </div>
</div>
<a id="link" style="display: none"></a>
